@media screen and (max-width: 890px){
    .recharts-responsive-container {
        width: 100% !important;
    }

    .rowTweet {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
    }

    .rowTweet .columnTweet:nth-child(1) {
        flex: 100%;
        align-self: center;
        text-align: center;
        order: 2;
        padding: 10px;
    }
    .rowTweet .columnTweet:nth-child(2) {
        flex: 100%;
        align-self: center;
        text-align: center;
        order: 1;
        padding: 10px;
    }
    .rowTweet .columnTweet:nth-child(3) {
        flex: 100%;
        align-self: center;
        text-align: center;
        order: 3;
        padding: 10px;
    }
    .about-column {
        align-self: center;
        text-align: center;
        padding: 10px;
    }
    .chart-space {
        padding: 20px 0px;
    }
}

@media screen and (max-width: 890px) and (min-width: 650px){
    .chart-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .chart-title {
        font-size: 0.9rem;
    }
}


@media screen and (min-width: 891px){
    .recharts-responsive-container {
        width: 50% !important;
    }

    .rowTweet {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
    }

    .columnTweet {
        flex: 33%;
        align-self: center;
        text-align: center;
        padding: 10px;
    }

    .column {
        flex: 50%;
        align-self: center;
        padding: 10px;
    }
    
    .about-column {
        flex: 50%;
        align-self: center;
        text-align: center;
        padding: 10px;
    }    
}
@media screen and (min-width: 1200px){
    .chart-title {
        font-size: 1.5rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F5F8FA;
}

body {
    line-height: 1.4;
}

a {
    color: #333;
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

input {
    max-width: 100%;
}

.form-group {
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}

.form-group, .form-group * {
    background-color: white;
}

.text-form {
    color: red;
}

.container {
    max-width: 100vw;
    font-family: Crimson Text;
}

.color-nav, .color-nav * {
    background-color: #1DA1F2 !important;
}

.nav-selected {
    color: #657786 !important;
}

.nav-default {
    color: #F5F8FA !important;
}

.nav-link:hover, .btn:hover{
    color: #657786 !important;
}

.navbar-collapse .btn{
    color: black;
    padding: 0;
}

.imgs {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.imgs2 {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.imgProfile {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%
}

.dropdown-menu {
    right: 0;
    left: auto;
    background-color: white !important;
}

.dropdown-menu a, .dropdown-menu a > b, .dropdown-menu a > button {
    background-color: white !important;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0,0,0,0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

.modal {
    background-color: transparent;
}

.loginForm {
    background-color: white;
    padding: 16px;
    border: 0.25px solid;
    border-radius: 15px;
}

.loginForm2 {
    background-color: white;
    padding: 16px;
    border: 0.25px solid;
    border-radius: 15px;
    max-width: 456px;
}

.login-form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.about-img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.about-top-column {
    flex: 100%;
    align-self: center;
    text-align: center;
    padding: 10px;
}

.profile-column {
    flex: 50%;
    align-self: center;
    text-align: center;
    padding: 10px;
}  

.format-form {
    padding: 10px;
}

.market-spacing-top {
    padding: 20px 20px;
}

.market-spacing-bottom {
    padding: 20px 20px 40px;
}

.recharts-tooltip-item-name, .recharts-tooltip-item-separator,
.recharts-tooltip-item-value, .recharts-tooltip-item-unit,
.recharts-tooltip-label, .recharts-tooltip-item {
    background-color: white;
}

@keyframes load8{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}